<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wong.reservation.mapper.TimeTableMapper">

    <resultMap id="BaseResultMap" type="com.wong.reservation.domain.entity.TimeTable">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,start_time,
        end_time
    </sql>
    <select id="checkConflict" resultMap="BaseResultMap">
        SELECT DISTINCT nsie.new_start AS start_time,
                        nsie.new_end   AS end_time
        FROM (SELECT #{reservationTime} AS new_start,
                     CASE
                         WHEN time_unit = 'hour' THEN DATE_ADD(#{reservationTime}, INTERVAL #{unitCount} HOUR)
                         WHEN time_unit = 'minutes' THEN DATE_ADD(#{reservationTime}, INTERVAL #{unitCount} MINUTE)
                         END            AS new_end
              FROM reservation_system.employee_service es
              WHERE employee_id = #{employeeId}
                AND service_id = #{serviceId}) AS nsie
                 LEFT JOIN reservation_system.time_table tt ON (
            (nsie.new_start &lt; tt.start_time AND tt.start_time &lt; nsie.new_end)
                OR (tt.start_time &lt; nsie.new_start AND nsie.new_end &lt; tt.end_time)
                OR
            (tt.start_time &lt; nsie.new_start AND tt.end_time &lt; nsie.new_end AND nsie.new_start &lt; tt.end_time)
            )
        WHERE tt.start_time IS NULL;
    </select>
</mapper>
